.THIS {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    background-image: initial;
    background-color: rgb(24, 26, 27);
    border-color: rgb(40, 47, 88);
    box-shadow: none;
    color: #e8e6e3
}

.THIS .itemSelected {
    height: 700px;
    width: 100%;
}

.THIS .slds-coordinates {
background-image: initial;
    background-color: rgb(24, 26, 27);
    border-color: rgb(40, 47, 88);
    box-shadow: none;
    color: #e8e6e3
}

.THIS .slds-text-link {
    color: #e8e6e3
}