.THIS .itemSelected {
    background-color: rgba(128, 179, 255, 0.7) !important;
}

.THIS li:hover {
     background-color: #cce0ff;
     cursor: pointer;
 }

 .THIS {
      width: 95%;
         margin-right: auto;
         margin-left: auto;
 }