.THIS {
    width: 100%;
    background-image: initial;
    background-color: rgb(24, 26, 27);
    border-color: rgb(40, 47, 88);
    box-shadow: none;
    color: #e8e6e3
}

.THIS .itemSelected {
    background-color: rgb(45, 49, 51) !important;
}

.THIS li:hover {
      background-color: rgb(45, 49, 51);
      cursor: pointer;
  }

.THIS .slds-has-divider_top-space{
      border-top-color: rgb(40, 47, 88);
}